<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/sistemadeingresosygastos.css">
    <title>Nuevo Ingreso</title>
</head>


<body>
    <div class="contenedor-total">
        <header class="encabezado">
            <div class="encabezado-imagen">
                <img src="/assets/Img/logo.jpg" alt="Logo">
            </div>

            <nav class="navegacion">
                <div class="navegacion-contenedor">
                    <a class="a1" href="#">Ingresos y egresos</a>
                    <a class="a2" href="#">Usuarios</a>
                    <a class="a3" href="#">Empresas</a>

                </div>

            </nav>
        </header>
        <main>
            <h1 class="titulo">Sistema de gestión de Ingresos y Gastos</h1>
            <h2 class="subtitulo">Transacciones</h2>
            <div class="labels-container">
                <table class="Table">
                    <tr>
                        <th>Concepto</th>
                        <th>Monto</th>
                        <th>Fecha</th>
                        <th>Usuario</th>
                    </tr>
                    <tr th:each="Transaccion: ${Transacciones}">
                        <td th:text="${Transaccion.concept}"></td>
                        <td th:text="${Transaccion.amount}"></td>
                        <td  th:text="${{Transaccion.createdAt}}"></td>
                        <td th:text="${Transaccion.employee.email}"></td>
                    </tr>
                </table>

            </div>

        </main>
    </div>
</body>

</html>