<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login - Warbug project</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/login.css">
</head>

<body>
    <div class="container" id="container">
        <div class="form-container login-container">
            <form method="POST" th:action="@{/login}">
                <div class="form-box">
                    <h1>Inicie Sesión</h1>

                    <span>Si no tienes acceso habla con el administrador</span>
                    <div class="col-3">
                        <input class="effect-7" name="username" type="email" placeholder="Email" />
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <div class="col-3">
                        <input class="effect-7" name="password" type="password" placeholder="Password" />
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <span class="has-error" th:text="${error}"></span>

                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

                    <button type="submit">Iniciar Sesión</button>
                    <h4 class="text-center"><a href="/registration">Crear una cuenta</a></h4>

                </div>
                <img class="logoImage" src="/assets/Img/logo.jpg" alt="Error">
            </form>

        </div>
    </div>
</body>

</html>